%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs Address
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs Delivery
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs Payment
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs Confirm
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs Complete
= simple_form_for @user, method: :put, url: "#{checkout_next_path}", html: {novalidate: false}, class: "res-mb-100" do |f|
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle Billing Address
        %p.general-info-text all fields are required
      .col-md-5.col-md-offset-1
        %h3.general-subtitle Shipping Address
  .row
    .col-md-5.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle Billing Address
        %p.general-info-text all fields are required
      = f.simple_fields_for :billing_address, wrapper: :custom do |bia|
        = render partial: "users/address", locals: { adr: bia }
    .col-md-5.col-md-offset-1.mb-60
      .visible-xs.visible-sm
        %h3.general-subtitle Shipping Address
      = f.simple_fields_for :shipping_address, wrapper: :custom do |sh|
        = render partial: "users/address", locals: { adr: sh }
      .form-group.checkbox
        %label.checkbox-label
          %input.checkbox-input{type: "checkbox", hidden: "true", name: "use_billing"}
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text Use Billing Address
  .general-text-align.mb-60
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table
      = render partial: "cost", object: @order

  = f.button :submit, "Save and Continue", class: "btn btn-default center-block mb-20"
