%ul.steps.list-inline
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs Address
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs Delivery
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs Payment
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs Confirm
  %li.step-divider
  %li.step.active
    %span.step-number 5
    %span.step-text.hidden-xs Complete
.text-center.mb-40
  %h3.general-subtitle= t('checkout.thanks')
  %p.fw-300= "#{t('checkout.thanks2')} #{@user.email}"
.row.mb-20
  .col-sm-6
    .visible-xs
      %p.general-order-number.mb-0= "Order ##{number_order(@order.id)}"
      %p.general-address.mb-30= @order.completed_at
    %p.general-address
      = "#{@address.billing_first_name} #{@address.billing_last_name}"
      %br
      = "#{@address.billing_address}"
      %br
      = "#{@address.billing_city} #{@address.billing_zip}"
      %br
      = "#{@address.billing_country}"
      %br
      = "Phone #{@address.billing_phone}"
  .col-sm-6.hidden-xs.text-right
    %p.general-order-number.mb-0= "Order ##{number_order(@order.id)}"
    %p.general-address.mb-30= @order.completed_at
.visible-xs
  - @items.each do |order_item|
    - item = order_item.book
    .general-cart-item.divider-lg
      .general-img-wrap-table
        %img.cart-img-shadow{src: "#{try_image(item, :thumb)}", alt: "#{item.name}"}
      %p.title= item.name
      %P.in-grey-600.fw-300= item.short_desc
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500= number_to_currency(item.price, price_options)
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            %span= order_item.quantity
        %tr
          %td
            %span.in-grey-600 SubTotal
          %td
            %span.font-16.in-gold-500= "#{number_to_currency((order_item.quantity * item.price), price_options)}"
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600 Book
        %th.col-method
        %th
          %span.in-grey-600 Price
        %th
          %span.in-grey-600 Quantity
        %th
          %span.in-grey-600 Total
    %tbody
      - @items.each do |order_item|
        - item = order_item.book
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: "#{try_image(item, :thumb)}", alt: "#{item.name}"}
          %td
            %p.title= item.name
            %p.in-grey-600.fw-300= item.short_desc
          %td
            %span.font-16.in-gold-500= number_to_currency(item.price, price_options)
          %td
            %span.ml-30= order_item.quantity
          %td
            %span.font-16.in-gold-500= "#{number_to_currency((order_item.quantity * item.price), price_options)}"
.text-center.general-text-right
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table.general-summary-table-right.general-text-right
    = render partial: "cost", object: @order
.text-center
  %a.btn.btn-default.mb-20{href: "#{root_path}"} Back to Store
