%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs Address
  %li.step-divider
  %li.step.active
    %span.step-number 2
    %span.step-text.hidden-xs Delivery
  %li.step-divider
  %li.step.active
    %span.step-number 3
    %span.step-text.hidden-xs Payment
  %li.step-divider
  %li.step.active
    %span.step-number 4
    %span.step-text.hidden-xs Confirm
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs Complete
.row.mb-20
  .col-sm-3
    %h3.general-subtitle Shipping Address
    %p.general-address
      = "#{@address.shipping_first_name} #{@address.shipping_last_name}"
      -#John Doe
      = link_to 'edit', checkout_edit_path(:type => :address), method: "put", :class=>"general-edit"
      -#%span.general-edit edit
      %br
      = "#{@address.shipping_address}"
      -#44 Fifth Ave v231
      %br
      = "#{@address.shipping_city} #{@address.shipping_zip}"
      -#New York NY 1001
      %br
      = "#{@address.shipping_country}"
      -#United States
      %br
      = "Phone #{@address.shipping_phone}"
      -#Phone +16507599755
  .col-sm-3
    %h3.general-subtitle Billing Address
    %p.general-address
      = "#{@address.billing_first_name} #{@address.billing_last_name}"
      = link_to 'edit', checkout_edit_path(:type => :address), method: "put", :class=>"general-edit"
      -#%span.general-edit edit
      %br
      = "#{@address.billing_address}"
      %br
      = "#{@address.billing_city} #{@address.billing_zip}"
      %br
      = "#{@address.billing_country}"
      %br
      = "Phone #{@address.billing_phone}"
  .col-sm-3
    %h3.general-subtitle Shipments
    %p.general-address
      = @order.delivery_method.name
      -#Delivery Next Day!
      = link_to 'edit', checkout_edit_path(:type => :delivery), method: "put", :class=>"general-edit"
      -#%span.general-edit edit
      -#%br
      -#By train
  .col-sm-3
    %h3.general-subtitle Payment Information
    %p.general-address
      = @card_number
      = link_to 'edit', checkout_edit_path(:type => :payment), method: "put", :class=>"general-edit"
      -#%span.general-edit edit
      %br
      = @order.credit_card.expires
.visible-xs
  - @items.each do |order_item|
    - item = order_item.book
    .general-cart-item.divider-lg
      .general-img-wrap-table
        %img.cart-img-shadow{src: "#{try_image(item, :thumb)}", alt: "#{item.name}"}
      %p.title= item.name
      %P.in-grey-600.fw-300= item.short_desc
      %table.table
        %tr
          %td
            %span.in-grey-600 Price
          %td
            %span.font-16.in-gold-500= price_format(item.price)
        %tr
          %td.vertical-middle
            %span.in-grey-600 Quantity
          %td
            %span= order_item.quantity
        %tr
          %td
            %span.in-grey-600 SubTotal
          %td
            %span.font-16.in-gold-500= "#{price_format(order_item.quantity * item.price)}"
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600 Book
        %th.col-method
        %th
          %span.in-grey-600 Price
        %th
          %span.in-grey-600 Quantity
        %th
          %span.in-grey-600 Total
    %tbody
      - @items.each do |order_item|
        - item = order_item.book
        %tr
          %td
            .general-img-wrap-table
              %img.cart-img-shadow.pull-left{src: "#{try_image(item, :thumb)}", alt: "#{item.name}"}
          %td
            %p.title= item.name
            %p.in-grey-600.fw-300= item.short_desc
          %td
            %span.font-16.in-gold-500= price_format(item.price)
          %td
            %span.ml-30= order_item.quantity
          %td
            %span.font-16.in-gold-500= "#{price_format(order_item.quantity * item.price)}"
.text-center.general-text-right
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table.general-summary-table-right.general-text-right
    %tr
      %td
        %p.font-16 Subtotal:
      %td
        %p.font-16= price_format(@order.subtotal)
    %tr
      %td
        %p.font-16 Coupon:
      %td
        %p.font-16= price_format(@order.coupon_discount)
    %tr
      %td
        %strong.font-18 Order Total:
      %td
        %strong.font-18= price_format(@order.pre_total_price)

  -#%button.btn.btn-default.mb-20 Place Order
  .text-center
    = link_to "Place Order", checkout_next_path, method: :put, class: "btn btn-default mb-20"
