= adr.input :first_name, placeholder: "First Name", label: "First Name"
= adr.input :last_name, placeholder: "Last Name", label: "Last Name"
= adr.input :address, placeholder: "Address", label: "Address"
= adr.input :city, placeholder: "City", label: "City"
= adr.input :zip, placeholder: "Zip", label: "Zip"
= adr.input :country, placeholder: "Select a country", label: "Country"
= adr.input :phone, placeholder: "Example +355 66 123 4567", label: "Phone"
