%main.container
  %h1.general-title-margin= t('settings.title')
  %ul.nav.clearfix.mb-20{role: "tablist"}
    %li.tab-item.active{role: "presentation"}
      %a.tab-link{href: "#address", 'aria-controls': "address", role: "tab", 'data-toggle': "tab"}= t('settings.tabs.address')
    %li.tab-item{role: "presentation"}
      %a.tab-link{href: "#privacy", 'aria-controls': "privacy", role: "tab", 'data-toggle': "tab"}= t('settings.tabs.privacy')
  .tab-content
    #address.tab-pane.fade.in.active{role: "tabpanel"}
      .general-main-wrap

        .hidden-xs.hidden-sm
          .row
            .col-md-5
              %h3.general-subtitle.mt-0= t('settings.billaddress')
            .col-md-5.col-md-offset-1
              %h3.general-subtitle.mt-0= t('settings.shaddress')
        .row
          = simple_form_for @user do |f|
            = f.simple_fields_for :billing_address, wrapper: :custom do |bia|
              .col-md-5.mb-40
                .visible-xs.visible-sm
                  %h3.general-subtitle.mt-0= t('settings.billaddress')
                = render partial: "address", locals: { adr: bia }
                .text-center.general-text-align
                  = f.button :submit, t('action.save'), class: "btn btn-default mb-20"
          = simple_form_for @user do |f|
            = f.simple_fields_for :shipping_address, wrapper: :custom do |sha|
              .col-md-5.col-md-offset-1.mb-25
                .visible-xs.visible-sm
                  %h3.general-subtitle.mt-0= t('settings.shaddress')
                = render partial: "address", locals: { adr: sha }
                .text-center.general-text-align
                  = f.button :submit, t('action.save'), class: "btn btn-default mb-20"
    #privacy.tab-pane.fade{role: "tabpanel"}
      .row.mb-60
        .col-sm-5
          %p.in-gold-500.font-18.mb-25= t('settings.privacy.email')
          = simple_form_for @user, class: "general-form-md" do |f|
            .form-group.mb-35
              = f.label :email, "#{t('settings.privacy.enteremail')}", class: "control-label input-label"
              = f.input :email, input_html: { class: "form-control"}, placeholder: "#{t('settings.privacy.enteremail')}", label: false
            .general-text-align
              = f.button "submit", t('action.save'), class: "btn btn-default mb-35"
        - if current_user.provider.nil?
          .col-sm-5.col-sm-offset-1
            %p.in-gold-500.font-18.mb-25= t('settings.privacy.password')
            = simple_form_for @user, url: "/users/update_password", method: "patch", html: {novalidate: false}, class: "general-form-md divider-lg-bottom pb-25" do |f|
              .form-group.mb-30
                = f.label :current_password, t('settings.privacy.old_pass'), class: "control-label input-label"
                = f.input :current_password, input_html: { class: "form-control"}, placeholder: "#{t('settings.privacy.old_pass')}", label: false, required: true
              .form-group.mb-30
                = f.label :password, t('settings.privacy.new_pass'), class: "control-label input-label"
                = f.input :password, input_html: { class: "form-control"}, placeholder: "#{t('settings.privacy.new_pass')}", label: false, required: true
              .form-group.mb-40
                = f.label :password_confirmation, t('settings.privacy.confirm_pass'), class: "control-label input-label"
                = f.input :password_confirmation, input_html: { class: "form-control"}, placeholder: "#{t('settings.privacy.confirm_pass')}", label: false, required: true
              .general-text-align
                = f.button "submit", t('action.save'), class: "btn btn-default mb-35"
        .col-sm-12
          %p.in-gold-500.font-18.mb-25= t('settings.privacy.removeacc')
          = form_for "delete_user", method: :delete, url: registration_path(@user), data: { confirm: "#{t('settings.privacy.areyousure')}"}, html: {novalidate: false} do |f|
            .general-settings-btn
              %button.btn.btn-default.mb-20{type: "submit"}= t('settings.privacy.pleaseremove')
            .form-group.checkbox.general-settings-checkbox
              %label.checkbox-label
                %input.checkbox-input{type: "checkbox", hidden: "true", name: "confirm_delete_account", required: true}
                %span.checkbox-icon
                  %i.fa.fa-check
                %span.checkbox-text= t('settings.privacy.iunderstantdatalost')
