%p.general-address
  = "#{address.first_name} #{address.last_name}"
  %br
  = address.address
  %br
  = "#{address.city} #{address.zip}"
  %br
  = address.country
  %br
  = "#{t('users.addrform.phone')} #{address.phone}"
