%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      - @books_slider.each_with_index do |book, i|
        /%li.active{'data-target': "#slider", 'data-slide-to': "0"}
        %li{:class => ("active" if i.zero?), 'data-target': "#slider", 'data-slide-to': i}
    .carousel-inner{role: "listbox"}
      - @books_slider.each_with_index do |book, i|
        .item{:class => ("active" if i.zero?)}
          .row
            .col-sm-5
              .general-img-wrap
                %img.img-shadow.general-thumbnail-img{src: "#{try_image(book, :book_image)}", alt: "#{book.name}"}
            .col-sm-7
              .mb-60
                %h1= book.name
                %p.lead= book.short_desc
                %p.lead.small= authors_to_list(book.authors)
                .general-align
                  = link_to t('action.buynow'), to_cart_path(book), class: "btn btn-primary", method: :post
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1 #{t('mainpage.welcome1')}
    .mb-res-50
      %p #{t('mainpage.welcome2')}
    = link_to "#{t('mainpage.getstarted')}", catalog_path, class: "btn btn-default"
  .mb-35
    %h3 #{t('mainpage.bestsellers')}
    .row
      - @bestsellers.each do |item|
        .col-sm-6.col-md-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              %img.img-shadow.general-thumbnail-img{src: "#{try_image(item, :thumb)}", alt: "#{item.name}"}
              .thumb-hover
                .general-thumb-link-wrap
                  = link_to book_path(item), class: "thumb-hover-link" do
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  = link_to to_cart_path(item), class: "thumb-hover-link", method: :post do
                    %i.fa.fa-shopping-cart.thumb-icon
          .mb-35
            .clearfix
              %p.pull-right.font-16.in-gold-500= "#{price_format(item.price)}"
              %p.title.mr-55= item.name
            %span.divider-sm
            %p.lead.small= authors_to_list(item.authors)

