.col-xs-6.col-sm-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      = image_tag(book.cover(:thumb), class: 'img-shadow general-thumbnail-img', alt: "#{book.name}")
      .thumb-hover
        .general-thumb-link-wrap
          = link_to book_path(book), class: "thumb-hover-link" do
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          = link_to to_cart_path(book), class: "thumb-hover-link", method: :post do
            %i.fa.fa-shopping-cart.thumb-icon
  .general-thumb-info
    %p.title= book.name
    %p.font-16.in-gold-500= "#{number_to_currency(book.price, price_options)}"
    %span.divider-sm
    %p.lead.small= book.authors_list
