%main.container
  %h1.general-title-margin= t('pages.catalog')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          = selected_sort
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          - sort_params.each do |item|
            %li
              = link_to t("books.#{item}"), books_url({sort: item, category: params[:category], search: params[:search]})
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to(books_path, class: "filter-link") do
          = I18n.t('books.all')
          %span.badge.general-badge= total_books
      - categories_list.each do |category|
        %li.mr-35
          = link_to(books_path(category: category[:id], search: params[:search]), class: ["filter-link", ("active_cat" if category[:id] == params[:category].to_i)]) do
            = category[:name]
            %span.badge.general-badge= category[:count_books]
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('books.filterbycategory')
    %ul
      %li
        = link_to(books_path, class: "filter-link") do
          = I18n.t('books.all')
      - categories_list.each do |category|
        %li
          = link_to(books_path(category: category[:id], search: params[:search]), class: "filter-link", style: ("color: #f34040 !important;" if category[:id] == params[:category])) do
            = category[:name]
    %p.lead.small.mb-10= t('books.sortby')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = selected_sort
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        - sort_params.each do |item|
          %li
            = link_to t("books.#{item}"), books_url({sort: item, category: params[:category], search: params[:search]})
  .mb-120
    .books-container
      - unless params[:search].nil?
        - if @books.size.zero?
          = t('search.notfound', text: params[:search])

      = render partial: 'books', object: @books
    .text-center.view_more
      = render partial: 'view_more', object: @books

