%main.container
  %h1.general-title-margin #{t('pages.catalog')}
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          - unless selected = get_selected_sort
            #{t('books.newest')}
          - else
            = selected
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            %a{href: "#{build_filter_url(:newest)}"} #{t('books.newest')}
          %li
            %a{href: "#{build_filter_url(:popular)}"} #{t('books.popular')}
          %li
            %a{href: "#{build_filter_url(:lowprice)}"} #{t('books.lowtohigh')}
          %li
            %a{href: "#{build_filter_url(:highprice)}"} #{t('books.hightolow')}
    %ul.list-inline.pt-10.mb-25.mr-240
      - categories_list_with_count.each do |item|
        %li.mr-35
          %a.filter-link{href: "#{item[:path]}"}
            = item[:name]
            %span.badge.general-badge= item[:total_books]
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 #{t('books.filterbycategory')}
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - unless selected = get_selected_sort
          #{t('books.newest')}
        - else
          = selected
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#{build_filter_url(:newest)}"} #{t('books.newest')}
        %li
          %a{href: "#{build_filter_url(:popular)}"} #{t('books.popular')}
        %li
          %a{href: "#{build_filter_url(:lowprice)}"} #{t('books.lowtohigh')}
        %li
          %a{href: "#{build_filter_url(:highprice)}"} #{t('books.hightolow')}
    %p.lead.small.mb-10 #{t('books.sortby')}
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - unless selected = get_selected_sort
          #{t('books.newest')}
        - else
          = selected
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#{build_filter_url(:newest)}"} #{t('books.newest')}
        %li
          %a{href: "#{build_filter_url(:popular)}"} #{t('books.popular')}
        %li
          %a{href: "#{build_filter_url(:lowprice)}"} #{t('books.lowtohigh')}
        %li
          %a{href: "#{build_filter_url(:highprice)}"} #{t('books.hightolow')}
  .mb-120
    .books-container
      = render partial: 'books', object: @books
    = #paginate @books
    = #page_entries_info @books
    .text-center.view_more
      = render partial: 'view_more', object: @books

