%main.container
  %h1.general-title-margin Сatalog
  - unless flash[:notice].nil?
    %div.alert.alert-success= flash[:notice]
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          - unless selected = get_selected_sort
            Newest first
          - else
            = selected
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            %a{href: "#{build_filter_url(:newest)}"} Newest first
          %li
            %a{href: "#{build_filter_url(:popular)}"} Popular first
          %li
            %a{href: "#{build_filter_url(:lowprice)}"} Price: Low to high
          %li
            %a{href: "#{build_filter_url(:highprice)}"} Price: High to low
    %ul.list-inline.pt-10.mb-25.mr-240
      - categories_list_with_count.each do |item|
        %li.mr-35
          %a.filter-link{href: "#{item[:path]}"}
            = item[:name]
            %span.badge.general-badge= item[:total_books]
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - unless selected = get_selected_sort
          Newest first
        - else
          = selected
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#{build_filter_url(:newest)}"} Newest first
        %li
          %a{href: "#{build_filter_url(:popular)}"} Popular first
        %li
          %a{href: "#{build_filter_url(:lowprice)}"} Price: Low to high
        %li
          %a{href: "#{build_filter_url(:highprice)}"} Price: High to low
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        - unless selected = get_selected_sort
          Newest first
        - else
          = selected
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#{build_filter_url(:newest)}"} Newest first
        %li
          %a{href: "#{build_filter_url(:popular)}"} Popular first
        %li
          %a{href: "#{build_filter_url(:lowprice)}"} Price: Low to high
        %li
          %a{href: "#{build_filter_url(:highprice)}"} Price: High to low
  .mb-120
    - @books.each_slice(4) do |slice|
      %div.row
        - slice.each do |book|
          = render partial: 'book', object: book
    - if @books.size > 8
      .text-center
        %button.btn.btn-primary View More
