%main.container
  %a.general-back-link{href: "#"}
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          %img.img-responsive{src: "#{try_image(@book, :book_image)}"}
          - unless @book.images.empty?
            .images.clearfix
              - @book.images[1..@book.images.size].each do |item|
                %a.img-link{href: "#"}
                  = image_tag(item.image.url(:smallbook_image))
    .col-sm-6
      %h1.mt-res-0= @book.name
      %p.lead.small= authors_to_list(@book.authors)
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= "#{price_format(@book.price)}"
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg
        %p Description
        %p.lead.small.line-height-2
          = cutted_desc(@book.info_book.full_desc)
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Year of publication
          %p.lead.small.pull-right= @book.info_book.published
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Dimensions
          %p.lead.small.pull-right= "H: #{@book.info_book.height} x W: #{@book.info_book.width} x D: #{@book.info_book.depth}"
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left Materials
          %p.lead.small.pull-right= @book.info_book.materials
  .mb-80
    %h3.in-gold-500.mb-25 Reviews (3)
    .general-message-wrap.divider-lg
      .clearfix
        %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified Verified Reviewer
              .general-message-name Rita J. Lewis
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
          %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified.pull-right Verified Reviewer
              .general-message-name May J. Novoa
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star.rate-empty
          %p If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.
