%main.container
  = link_to(url_for(:back), class: "general-back-link") do
    %i.fa.fa-long-arrow-left.mr-15
    = t('action.backtoresults')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag(@book.cover(:book_image), class: "img-responsive")
          - if @book.more_images?
            .images.clearfix
              - @book.other_images.each do |item|
                = link_to(item.image.url(:book_image), class: "img-link", target: "blank") do
                  = image_tag(item.image.url(:smallbook_image))
    .col-sm-6
      %h1.mt-res-0= @book.name
      %p.lead.small= @book.authors_list
      .row
        = simple_form_for :order_item, url: order_items_path, html: { class: "egn_book_cart" }  do |f|
          .col-xs-12.col-md-4
            %p.h1.in-gold-500.mt-10= number_to_currency(@book.price, price_options)
          .col-xs-5.col-md-3
            .input-group.general-position
              %a.input-link.item-change-quantity{href: "javascript:void(0)", data: { action: "minus" }}
                %i.fa.fa-minus.line-height-40
              = f.input_field :quantity, as: :string, label: false, value: "1", class: "form-control quantity-input"
              %a.input-link.item-change-quantity{href: "javascript:void(0)", data: { action: "plus" }}
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.input_field :book_id, as: :hidden, value: "#{@book.id}"
            = button_tag(type: 'submit', class: 'btn btn-default pull-right general-position') do
              = t('action.addtocart')
      .general-info-wrap.divider-lg
        %p= t('books.description')
        %p.lead.small.line-height-2
          %div<
            = @book.start_cutted_desc
            - if @book.more_desc?
              %span.full_txt_dots> ...
              %a.in-gold-500.ml-10.egn-read-more{ href: "javascript:void(0)" }<>
                = I18n.t('action.readmore')
              %span.full_txt{ style: "display: none" }<>
                = @book.other_cutted_desc
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('books.published')
          %p.lead.small.pull-right= @book.published_year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('books.dimensions')
          %p.lead.small.pull-right= @book.sizes
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('books.materials')
          %p.lead.small.pull-right= @book.materials_list
  .mb-80
    = render partial: "reviews", object: @book
