%main.container.general-main-wrap
  .text-center
    %h3.general-login-title #{t('auth.login.title_login')}
    %a.general-login-icon{href: "#{user_facebook_omniauth_authorize_path}"}
      %i.fa.fa-facebook-official
    %p.general-login-text #{t('phrase.or')}
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "general-form"}) do |f|
    .form-group.mb-30
      = f.label :email, "#{t('auth.login.enteremail')}", class: "control-label input-label"
      /%label.control-label.input-label{for: "email"} Enter Email
      /%input#email.form-control{name:"email", type: "email", placeholder: "Enter Email"}
      = f.input :email, required: false, autofocus: true, :input_html => { :class => "form-control"}, placeholder: "Enter Email", label: false
    .form-group.mb-30
      /%label.control-label.input-label{for: "password"} Password
      /%input#password.form-control{name:"password", type: "password", placeholder: "Password"}
      = f.label :password, "#{t('auth.login.password')}", class: "control-label input-label"
      = f.input :password, required: false, placeholder: "#{t('auth.login.password')}", :input_html => {:class=> "form-control", :id=>"password"}, label: false
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        %a.help-block.in-gold-500{href: "#{new_password_path(resource_name)}"} #{t('auth.login.forgotpassword')}


    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = f.input :remember_me, label: false, :input_html => {:class=>"checkbox-input", hidden: true, type: "checkbox"}, wrapper: false if devise_mapping.rememberable?
        -#%input.checkbox-input{type: "checkbox", hidden: "true"}
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text #{t('auth.login.rememberme')}

    .text-center
      = f.button :submit, "#{t('action.login')}", class: "btn btn-default mb-20"
      /%button.btn.btn-default.mb-20 Back to Store
  %p.general-sign-text.text-center
    - if devise_mapping.registerable? && controller_name != 'registrations'
      #{t('auth.login.donthaveacc')}
      %a.in-gold-500{href: "#{new_registration_path(resource_name)}"} #{t('action.signup')}



