- price_options = { unit: '$', format: '%n%u' }
%h3= I18n.t('mailer.order.number', number: @order.number)
= I18n.t('mailer.order.message')
%br= "#{I18n.t('mailer.order.ordinfo')}:"
%br
%br
%b= "#{I18n.t('mailer.order.items')}:"
%table{ border: "1px", style: "border-collapse: collapse; border:1px #b4b4b4 solid", cellpadding: "5" }
  %tr
    %td #
    %td= I18n.t('cart.itemlist.product')
    %td= I18n.t('cart.itemlist.price')
    %td= I18n.t('cart.itemlist.quantity')
    %td= I18n.t('cart.itemlist.subtotal')
  - @order.items.each_with_index do |order_item, i|
    - item = order_item.book
    %tr
      %td= i + 1
      %td= item.name
      %td= number_to_currency(item.price, price_options)
      %td= order_item.quantity
      %td= number_to_currency((order_item.quantity * item.price), price_options)
- unless @order.coupon.nil?
  %br
  %br= "#{I18n.t('cart.total.coupon')}:"
  = number_to_currency(@order.coupon_discount, price_options)
%br
  %b= "#{I18n.t('cart.itemlist.subtotal')}:"
= number_to_currency(@order.subtotal, price_options)
%br
  %b= "#{I18n.t('checkout.steps.delivery')}:"
= number_to_currency(@order.delivery_price, price_options)
%br
  %b= "#{I18n.t('checkout.itemlist.total')}:"
= number_to_currency(@order.pre_total_price, price_options)
