- price_options = { unit: '$', format: '%n%u' }

%br/= "Your first order R#{@order.number} was completed!"
%br/ And, as a thank you, we would like to give you coupon for the next purchase.
%br/ Code:
%br/
%h1
  %b= @coupon.code
%br/
%br/ Discount:
= number_to_currency(@coupon.discount, price_options)
%br/ Minimum sum to activate:
= number_to_currency(@coupon.min_sum_to_activate, price_options)
%br/ The coupon is valid until
= @coupon.expires.strftime("%Y-%m-%d %H:%M")
