%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Bookstore
      %a.shop-link.pull-right.visible-xs{href: "#"}
        %span.shop-icon{ :style => ("background-color: transparent;" if cart_empty?) }
          - unless cart_empty?
            %span.shop-quantity 1
    %a.shop-link.pull-right.hidden-xs{href: "#"}
      %span.shop-icon{ :style => ("background-color: transparent;" if cart_empty?) }
        - unless cart_empty?
          %span.shop-quantity 1
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
        %ul.nav.navbar-nav
          %li
            = link_to "#{t('pages.home')}", root_path
          %li
            %a{type: "button", 'data-toggle': "collapse", href: "#menu", 'aria-expanded': "false", 'aria-controls': "menu"} #{t('pages.shop')}
            %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
              - categories_list.each do |cat|
                %li
                  %a.collapse-link{href: "#{cat[:path]}"}= cat[:name]
              %li.divider{role: "separator"}
                %li
                  = link_to "#{t('pages.allcats')}", books_path
          %li
            %a{href: "#{new_user_session_path}"} My account
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to "#{t('pages.home')}", root_path
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} #{t('pages.shop')}
            %ul.dropdown-menu
              - categories_list.each do |cat|
                %li
                  %a.collapse-link{href: "#{cat[:path]}"}= cat[:name]
              %li.divider{role: "separator"}
                %li
                  = link_to "#{t('pages.allcats')}", books_path
          - unless user_signed_in?
            %li
              %a{href: "#{new_user_session_path}"} #{t('action.login')}
            %li
              %a{href: "#{new_user_registration_path}"} #{t('action.signup')}
          - else
            %li.dropdown
              %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} My account
              %ul.dropdown-menu
                %li
                  %a{href: "#"} #{t('pages.orders')}
                %li
                  %a{href: "#"} #{t('pages.settings')}
                %li.divider{role: "separator"}
                %li
                  = link_to "#{t('pages.logout')}", destroy_user_session_path, :method => :delete
                  /%a{href: "#{destroy_user_session_path}", method: :delete} Log out
