!!! 5
%html
  %head
    = render partial: 'layouts/partials/header'
  %body
    = render partial: 'layouts/partials/top'
    = render partial: 'layouts/partials/flash'
    = yield
    = render partial: 'layouts/partials/footer'
